[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = '3.6'

[dev-packages]

aioresponses = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"
pytest-mock = "*"
tox = "*"


[packages]

aioauth-client = "*"
aiohttp = "*"
aiohttp_session = "*"
aiopg = "*"
aioredis = "*"
alembic = "*"
async_timeout = "*"
cryptography = "*"
GeoAlchemy2 = "*"
hiredis = "*"
lxml = "*"
SQLAlchemy = "*"
Shapely = "*"
requests = "*"
